@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

header{
    display: flex;
    justify-content: space-around;
    background-color: #aea0c5;
}

#logo_pena{
    width: 100px;
    height: 100px;
}

#nome{
    font-family: "Sacramento", cursive;
    text-align: center;
    font-size: 200%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;  
    align-items: center;
    color: #f8e42c;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#inscreva{
    color: #ffc727;
    font-family: "Pacifico", cursive;
    font-size: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;  
    align-items: center;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

body{
    background-color: #c9c2d0;
} 

#submenu{
    text-decoration-color: rgb(108, 228, 168);
    font-family: "Pacifico", cursive;
    font-size: 48px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
    
}

#titulo{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 80px;
}

#texto{
    font-family: "Sacramento", cursive;
    font-size: 40px;
    margin: 30px;
    text-align: center;   
}


footer{
    display: flex;
    justify-content: center;
    background-color: #af95c4;
}

#rodape{
    color: #ffe927;
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;  
    align-items: center;
    font-family: "Sans-serif", cursive;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#CTS {
    width: 50px;
    height: 50px;
}