@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

header{
    display: flex;
    justify-content: space-around;
    background-color: #aea0c5;
}

#logo_pena{
    width: 100px;
    height: 100px;
}

#nome{
    font-family: "Sacramento", cursive;
    text-align: center;
    font-size: 200%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;  
    align-items: center;
    background: linear-gradient(to right,#f8e42c,#faa82f,#f85c2c,#f8bb2c,#fae638 );
    background-size: 400% 100%;
    animation: degrade 20s linear infinite alternate;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    
    }
@keyframes degrade {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}

#inscreva{
    font-family: "Pacifico", cursive;
    font-size: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;  
    align-items: center;
    cursor: pointer;
    position: relative;
}

.botao{
    padding: 10px 50px;
    background-color: #2c226f;
    color:#f8e42c;
    border-radius: 120px;
    position: relative;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}

.botao:hover{
    background-color: #f8e42c;
    color: #2c226f;
    text-shadow: rgb(255, 253, 253) 0.1em 0.1em 0.2em;
}


body{
    background-color: #c9c2d0;
}

#submenu{
    text-decoration-color: rgb(108, 228, 168);
    font-family: "Pacifico", cursive;
    font-size: 48px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;   
}


.texto{
    font-family: "Sacramento", cursive;
    font-size: 42px;
    margin: 50px;
    text-align: justify;
    flex: 1;    
}


#menina{
    height: 380px
}

#box1{
    display: flex;
    justify-items: center;
    gap: 20px;
    align-items: center;
    height: 380px;
}

#livros{
    height: 380px
}

#box2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex: 1;
}





footer{
    display: flex;  
    justify-content: center;
    background-color: #817ba7;
}

#rodape{
    color: #f8e42c;
    font-size: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;  
    align-items: center;
    font-family: "Sans-serif", cursive;
    text-shadow: black 0.1em 0.1em 0.2em;
}

#CTS {
    width: 50px;
    height: 50px;
}

